In [2]:
import numpy as np
import pandas as pd
%time df_train = pd.read_csv('E:/kaggle/input/train/train.csv', dtype = {'acoustic_data': np.int16, 'time_to_failure': np.float32} ) # float32 is enough :)

Wall time: 2min 16s

In [18]:
ttf = df_train['time_to_failure'].values
print(ttf)
index_start = np.nonzero(np.diff(ttf) > 0)[0] + 1     #np.diff（） 后一个数  减去 前一个数   np.nonzero() 返回非0数的索引
index_start = np.insert(index_start, 0, 0) # 在index_start列表的第一个位置插入0
print(index_start)

[1.4691   1.4691   1.4691   ... 9.759795 9.759795 9.759795]
[        0   5656574  50085878 104677356 138772453 187641820 218652630
 245829585 307838917 338276287 375377848 419368880 461811623 495800225
 528777115 585568144 621985673]

In [21]:
chunk_length = np.diff(np.append(index_start, df_train.shape[0]))
print(chunk_length)

[ 5656574 44429304 54591478 34095097 48869367 31010810 27176955 62009332
 30437370 37101561 43991032 42442743 33988602 32976890 56791029 36417529
  7159807]

In [5]:
t_start = ttf[index_start]
t_end = ttf[index_start + chunk_length - 1]
print('t_start =', t_start)
print('t_end   =', t_end)

t_start = [ 1.4691 11.5408 14.1806  8.8567 12.694   8.0555  7.059  16.1074  7.9056
  9.6371 11.4264 11.0242  8.8281  8.566  14.7518  9.4595 11.6186]
t_end   = [7.9547981e-04 6.9548219e-04 7.9548504e-04 1.0954869e-03 5.9548946e-04
 1.0954911e-03 4.9549254e-04 6.9549581e-04 1.9549743e-04 4.9549941e-04
 1.9550172e-04 9.5503965e-05 9.5505762e-05 8.9550752e-04 5.9551053e-04
 5.9551245e-04 9.7597952e+00]

In [22]:
dt_step = (t_start - t_end) / chunk_length

In [23]:
linsp_diff_max = []
for i in range(len(index_start)):
    ttf_orig  = ttf[index_start[i] : index_start[i] + chunk_length[i]]
    ttf_linsp = np.linspace(t_start[i], t_end[i], chunk_length[i])
    linsp_diff_max.append(np.abs(ttf_orig - ttf_linsp).max())
linsp_diff_max = np.array(linsp_diff_max)
print(linsp_diff_max)
print('Max error =', linsp_diff_max.max())

[0.00113751 0.00111473 0.00113453 0.00112513 0.00114231 0.00113392
 0.00113568 0.0011415  0.00114213 0.00110644 0.0011511  0.0010898
 0.0011088  0.00113577 0.00112676 0.00115302 0.00112135]
Max error = 0.001153015481795805

In [8]:
df_train_info = pd.DataFrame({
    'index_start':index_start,
    'chunk_length':chunk_length,
    't_start':t_start,
    't_end':t_end,
    'dt_step':dt_step,
    'linsp_diff_max':linsp_diff_max
})
df_train_info.to_csv('E:/kaggle/input/train/train_info.csv', index=False)
df_train_info

,index_start,chunk_length,t_start,t_end,dt_step,linsp_diff_max
0,0,5656574,1.469100,0.000795,2.595749e-07,0.001138
1,5656574,44429304,11.540800,0.000695,2.597408e-07,0.001115
2,50085878,54591478,14.180600,0.000795,2.597439e-07,0.001135
3,104677356,34095097,8.856700,0.001095,2.597325e-07,0.001125
4,138772453,48869367,12.694000,0.000595,2.597416e-07,0.001142
5,187641820,31010810,8.055500,0.001095,2.597289e-07,0.001134
6,218652630,27176955,7.059000,0.000495,2.597239e-07,0.001136
7,245829585,62009332,16.107401,0.000695,2.597465e-07,0.001141
8,307838917,30437370,7.905600,0.000195,2.597269e-07,0.001142
9,338276287,37101561,9.637100,0.000495,2.597358e-07,0.001106
10,375377848,43991032,11.426400,0.000196,2.597394e-07,0.001151
11,419368880,42442743,11.024200,0.000096,2.597406e-07,0.001090
12,461811623,33988602,8.828100,0.000096,2.597343e-07,0.001109
13,495800225,32976890,8.566000,0.000896,2.597305e-07,0.001136
14,528777115,56791029,14.751800,0.000596,2.597453e-07,0.001127
15,585568144,36417529,9.459500,0.000596,2.597350e-07,0.001153
16,621985673,7159807,11.618600,9.759795,2.596166e-07,0.001121

In [9]:
%time np.savez_compressed('E:/kaggle/input/train/train_acoustic_data.npz', acoustic_data=df_train['acoustic_data'].values)
%ls -lh

Wall time: 2min 13s
 驱动器 E 中的卷是 新加卷
 卷的序列号是 FE6C-1B39

 E:\kaggle\kaggle-Lanl_Earthquake_Prediction 的目录

找不到文件

In [10]:
%%time
df_train_info = pd.read_csv('E:/kaggle/input/train/train_info.csv')
ac_data = np.load('E:/kaggle/input/train/train_acoustic_data.npz')['acoustic_data']

def get_quake_period(i):
    index_start, chunk_length = df_train_info['index_start'][i], df_train_info['chunk_length'][i]
    t_start, t_end = df_train_info['t_start'][i], df_train_info['t_end'][i]
    ac_data_period = ac_data[ index_start : index_start + chunk_length ]
    ttf_data_period = np.linspace(t_start, t_end, chunk_length, dtype=np.float32)
    return ac_data_period, ttf_data_period

Wall time: 5.09 s

In [11]:
get_quake_period(3)

(array([4, 4, 1, ..., 4, 3, 3], dtype=int16),
 array([8.8566999e+00, 8.8566999e+00, 8.8566999e+00, ..., 1.0960064e-03,
        1.0957466e-03, 1.0954869e-03], dtype=float32))

In [12]:
df_ssub = pd.read_csv('E:\kaggle\input/sample_submission.csv')
df_ssub.tail()

          seg_id  time_to_failure
2619  seg_ff4236                0
2620  seg_ff7478                0
2621  seg_ff79d9                0
2622  seg_ffbd6a                0
2623  seg_ffe7cc                0

In [15]:
ac_data = []

for fname in df_ssub['seg_id'].values:
    ac_data.append(pd.read_csv('E:/kaggle/input/test/' + fname + '.csv').acoustic_data.values.astype(np.int16))
    
ac_data = np.array(ac_data)

np.savez_compressed('E:/kaggle/input/test/test_acoustic_data.npz', acoustic_data=ac_data)

print('test data shape :', ac_data.shape)

test data shape : (2624, 150000)

In [24]:
ac_data = np.load('E:/kaggle/input/train/train_acoustic_data.npz')['acoustic_data']

In [25]:
ac_data

array([12,  6,  8, ..., 10,  6,  5], dtype=int16)